[user]
	name = Peter Zainzinger
	email = peterzainzinger@gmail.com
[core]
	excludesfile = /Users/peterzainzinger/.gitignore_global
	autocrlf = input
	editor = nvim
[branch]
	autosetuprebase = always
[http]
	postBuffer = 524288000
[filter "media"]
	required = true
	clean = git media clean %f
	smudge = git media smudge %f
[url "https://"]
	insteadOf = git://
[color]
	diff = true
	status = true
	branch = true
	ui = true
[push]
	default = current

[merge]
  tool = vimdiff
[mergetool]
  prompt = true
[mergetool "vimdiff"]
  cmd = nvim -d $LOCAL $REMOTE $MERGED -c 'wincmd w' -c 'wincmd J'
[difftool]
  prompt = false
[diff]
  tool = vimdiff
